@import url(styles/box.css);

:root{
    --bg: antiquewhite;
    --red: #FF3C41;
    --git: #333;
    --linkedIn: #0e76a8;
    --insta: #e1306c;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Product Sans;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    overflow: hidden;
}


header{
    margin-bottom:0 ;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-items{
    
    cursor: pointer;
    padding: 2px;
}

.a-letter{
    font-size: 40px;
    font-weight: bold;
}

#header-center{
    height: fit-content;
}

#header-right{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 30px;
    align-items: center;
    transform-style:preserve-3d ;
    
}

#header-right .icon {
    font-size: 35px; /* Adjust the size */
    margin: 0 10px; /* Add some spacing between icons */
}

#header-right .github {
    color: var(--git); /* GitHub color */

    
}

#header-right .linkedin {
    color: var(--linkedIn); /* LinkedIn color */
    
    
}

#header-right .instagram {
    color: var(--insta); /* Instagram color */
    
    
}

.header-right-links{
    transform: translateZ(40px);
}

.body{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0 10px;

}

/* Lower the height of the drop shadow or increase the height of the overlaying box */
.typing-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 170%; /* Adjust this as needed */
    width: 120%;
    background-color: var(--bg);
    animation: typing-animation 7.9s steps(20) infinite;
}

/* Fix the width of .left-side and .right-side */
.left-side, .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    /* Fixed width to prevent shifting */
    width: 300px; /* Adjust the width as needed */
}

.text-change {
    position: relative;
    font-size: 60px;
    font-weight: bold;
    width: 100%; /* Ensure the text container width matches the parent */
    text-align: center;
}


@keyframes typing-animation {
    40%, 60% {
        left: calc(100% + 2px);
    }
    100% {
        left: 0%;
    }
}

.left-side .text-box, .right-side .text-box {
    position: relative;
    color: var(--git);
    /* border: 2px solid black; */
}

.left-side p, .right-side p {
    margin-bottom: 20px;
    text-shadow:
    0 1.4px 1.1px rgba(0, 0, 0, 0.034),
    0 3.3px 2.6px rgba(0, 0, 0, 0.048),
    0 6.3px 5px rgba(0, 0, 0, 0.06),
    0 11.1px 8.9px rgba(0, 0, 0, 0.072),
    0 20.9px 16.7px rgba(0, 0, 0, 0.086),
    0 50px 40px rgba(0, 0, 0, 0.12);
}


.text-change{
    font-size: 90px;
    font-style: italic;
    font-weight: bolder;
}

.left-side{
    margin-left: 85px;
}
.right-side{
    margin-right: 85px;
}

#main{
    width: 100%;
    height: 90%;
    margin-top: 50px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    
    
    
}

.resume{
    width: 27vw;
    height: 75.5vh;
    border-radius: 30px;
    /* border: 1px solid var(--red); */
    
    background-image: url('assets/Anujesh-Ansh_Resume.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    /* gap: 0.5px; */

    
    transform-style:preserve-3d ;

    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}


footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    font-size: large;
    
}

.footer-items{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 10px;
    font-size: 15px;
    
    /* border: 1px solid black; */
}

a{
    text-decoration: none !important;
    color: var(--git);
    cursor: pointer;
}

#footer-center{
    background-color: transparent;
}
.heart-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}
.heart{
    
    cursor: pointer;
    background: var(--red);
    width:15px;
    height: 15px;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -1px 1px 9px var(--red);
    animation: heart 0.6s linear infinite;
}

.heart:before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    background: var(--red);
    top: -50%;
    box-shadow: -1px -1px 9px var(--red);
    border-radius: 50px;
}

.heart:after{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    background: var(--red);
    right: -50%;
    border-radius: 50px;
    box-shadow: 1px 1px 9px var(--red);
}

@keyframes heart{
    0%{
        transform: rotate(-45deg) scale(1.07);
    }

    80%{
        transform: rotate(-45deg) scale(1.0); 
    }

    100%{
        transform: rotate(-45deg) scale(0.8);
    }
}


.themeBtn {
    padding: 15px;
    border-radius: 15px;
    background-color: transparent;
    border-color: var(--git);
    opacity: 0;
    /* visibility: hidden; */
    transition: opacity 0.3s, visibility 0.3s; /* Add transition for smooth effect */
}

.themeBtn:hover {
    opacity: 1;
    
    cursor: pointer;
}



.upload {
    --btn-color: #3bafda;
    --progress-color: #2d334c;
    width: min-content;
    --ease-in-out-quartic: cubic-bezier(0.77, 0, 0.175, 1);
    
    display: flex;
    background: grey;
    border-radius: 10px;
    box-shadow: 0 1.7px 1.4px rgba(0, 0, 0, 0.2), 0 4px 3.3px rgba(0, 0, 0, 0.28), 0 7.5px 6.3px rgba(0, 0, 0, 0.35), 0 13.4px 11.2px rgba(0, 0, 0, .42), 0 25.1px 20.9px rgba(0, 0, 0, 0.5), 0 60px 50px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    transform: rotate(0);
    
}
.upload__info {
    display: flex;
    align-items: center;
    padding: 3px;
    margin-left: 2px;
}
.upload_filename{
    color: antiquewhite;
}
.upload__button {
    position: relative;
    padding: 7px;
    font-size: 90%;
    font-family: inherit;
    background: none;
    border-radius: inherit;
    outline: none;
    cursor: pointer;
    transform: scale(0.9);
  }
  .upload__button::before {
    position: absolute;
    content: "";

    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    border-radius: inherit;
    transform-origin: right;
  }
  .upload__hint {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: grey;
    transform: translateY(100%);
  }
  .upload__progress {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    background: var(--progress-color);
    transform: scaleX(0);
    transform-origin: left;
  }
  .upload__progress .check {
    stroke-dasharray: 7px;
    stroke-dashoffset: 7px;
    
  }
  .upload.uploading .upload__button {
    animation: expand 0.3s forwards;
  }
  .upload.uploading .upload__button::before {
    animation: fill-left 1.2s 0.4s var(--ease-in-out-quartic) forwards;
  }
  .upload.uploading .upload__info > *, .upload.uploading .upload__button__text {
    animation: fade-up-out 0.4s 0.4s forwards;
  }
  .upload.uploading .upload__hint {
    animation: fade-up-in 0.4s 0.8s forwards;
  }
  .upload.uploading .upload__progress {
    animation: fill-right 2s 1s var(--ease-in-out-quartic) forwards;
  }
  .upload.uploaded .upload__progress {
    animation: slide-up 1s var(--ease-in-out-quartic) forwards;
  }
  .upload.uploaded .upload__progress .check {
    animation: stroke-in 0.6s 0.4s var(--ease-in-out-quartic) forwards;
  }
  .upload.uploaded-after .upload__info {
    animation: slide-down-info 1s var(--ease-in-out-quartic) forwards;
  }
  .upload.uploaded-after .upload__button {
    animation: slide-down-button 1s var(--ease-in-out-quartic) forwards;
  }
  .upload.uploaded-after .upload__progress {
    animation: slide-down-progress 1s var(--ease-in-out-quartic) forwards;
  }
  @keyframes expand {
    to {
      transform: scale(1);
    }
  }
  @keyframes fill-left {
    to {
      transform: scale(4, 1.2);
    }
  }
  @keyframes fade-up-out {
    to {
      opacity: 0;
      transform: translateY(-40%);
    }
  }
  @keyframes fade-up-in {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fill-right {
    to {
      transform: scaleX(1);
    }
  }
  @keyframes slide-up {
    from {
      transform: scaleX(1) translateY(0);
    }
    to {
      transform: scaleX(1) translateY(-90%);
    }
  }
  @keyframes stroke-in {
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes slide-down-info {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes slide-down-button {
    from {
      transform: scale(0.9) translateY(-100%);
    }
    to {
      transform: scale(0.9) translateY(0);
    }
  }
  @keyframes slide-down-progress {
    from {
      transform: scaleX(1) translateY(-90%);
    }
    to {
      transform: scaleX(1) translateY(10%);
    }
  }