:root{
    --link: #1354cb;
    --purple: #361e77;
}
.box{
    width: 100%;
    border-radius: 15px;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 3px );
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
    align-self:flex-start;
    font-family: Arial;
    transition: transform 0.3s ease; /* Smooth transition */
}

/* .box.zoomed { */
    /* transform: scale(1.5); Zoom effect */
    /* background: white; Solid white background */
/* } */

.box:hover{
    transform: translateZ(20px);
    cursor: grab;
    transform: scale(1.5); /* Zoom effect */
    background: white; /* Solid white background */
    z-index: 100;
}


#box-header{
    height: 7.5vh;
    border-radius: 30px 30px 15px 15px;
}

.head{
    
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.heading{
    font-size: 18.6px;

    font-weight:300;
    margin-top: 20px;
}

.subheading{
    cursor: pointer;
    display: flex;
    font-size: 6px;
    font-weight: bold;
    color: var(--purple);
}

.profile-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid purple; */
    margin-top: 5px;
    padding: 0%;
    margin-left: 20px;
    margin-right: 20px;
    
    
}

.profile-link{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 8.5px;
    gap: 4px;
}
.icon{
    font-size: 10px;
}
.link a{
    color: var(--link);
    
}

.profile-link:hover{
    transform: translateZ(20px);
    background-color: white;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.7 );
    transform: scale(1.5); /* Zoom effect */
    padding: 1px;
    border-radius: 5px;
}
.subheading:hover{
    transform: translateZ(20px);
    background-color: white;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.7 );
    transform: scale(1.5); /* Zoom effect */
    padding: 1px;
    border-radius: 5px;
}

#box-summary{
    height: 4vh;
}
#box-skills{
    height: 6vh;
}

#box-work{
    height: 19.3vh;
}


#box-edu{
    height: 7vh;
}


#box-project{
    height: 11.3vh;
}


#box-position{
    border-radius: 15px 15px 30px 30px;
    height: 12vh;
}

